body{margin:0;padding:0;background:rgb(255, 207, 210);font-size:14px;font-family:'微软雅黑','宋体',sans-serif;color:#231F20;overflow:auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {color:#000;font-size:14px;}
#main{
    display: block;
    width:100%;
}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;}
#text{width:400px;height:425px;left:60px;top:80px;position:absolute;}
#code{display:none;font-size:18px; line-height: 1;}
#image{
    opacity: 0;
    transition: opacity 2s ease-in-out;
    width: 80%;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px #000;
}
.imageEffect{
    opacity: 1 !important;
}
#clock-box {position:absolute;left:60px;top:540px;font-size:28px;display:none;}
#clock-box a {font-size:28px;text-decoration:none;}
#clock{margin-left:50px;}
#clock .digit {font-size:50px;}
#clock-box-inside-text{
    font-weight: 700;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:5px;}
.space{margin-right:150px;}
